.pg-viewer-wrapper .document-container{
    width: 100%;
}
.word-document-container {
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    margin: 20px;
  }
  .accommodation-thead{
    background-color: #5b9bd5;
  }
  .accommodation-table tr:nth-child(even) {
    background-color:#fff;
}
.accommodation-table tr:nth-child(odd) {
    background-color: #deeaf6;
}


.download-button {
  background: #75b00f;
    color: #fff;
    margin-left: 9px;
    padding: 3px 5px;
    border: none;
}
  