@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');
body
{
    font-family: 'Mulish', sans-serif;
    font-weight:400;
    font-size:16px;
}

.strikethrough {
    text-decoration: line-through;
  }

/* QR CSS */
.qr-btns
{
    display: flex;
    justify-content: space-between;
}

/* QR CSS ends */
/* abstract-common-btn css */

.abstracts-common-btn
{
    margin-top: 20px;
    color: #fff;
    background-color: #1b2a47;
    border: none;
    /* border-radius: 5px; */
    font-weight: 600;
    font-size: 12px;
    padding: 5px;
    width: 140px;

}

/* abstracts-common-btn css ends */
a
{
    text-decoration:none;
}
.f1
{
    font-family: 'Poppins', sans-serif;
}
.f2
{
    font-family: 'Mulish', sans-serif;
}

h1,h2,h3,h4,h5,h6
{
    font-family: 'Poppins', sans-serif;
}
.section-padding
{
    padding-top:22px;
}
.common-blue-color
{
 color: #111b69;
}
.common-blue-bg
{
    background: #75b00f;
}
.common-yellow-color
{
    color:#75b00f;
}
.common-yellow-bg
{
    background: #75b00f;
}
.common-pre-heading{
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 600;
    color: #eac600f7;
    text-transform: uppercase;
    letter-spacing: .7px;
}
.common-heading
{
    font-size: 40px;
    line-height: 68px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    line-height: 1.2;
}
.common-para
{
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    line-height: 20.11px;
    color: #696A87;
    font-size: 14px;
    line-height: 19px;
}
.btun{
    background: #75b00f;
    color: #ffff;
}
.action-btn {
    background: #000!important;
    /* border: 0; */
    padding: 5px 10px!important;
    border: none!important;
    color: #fff!important;
}
.common-learn-more
{
    font-family: 'Mulish', sans-serif;
    font-size:13px;
    text-transform: uppercase;
    font-weight:500;
    color:#eac600f7;
    text-decoration:none;
       
}
.common-btn,.common-btn-transparent
{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    padding: 10px 30px;
    color: #fff;
    background: #75b00f;
    text-decoration: none;
    border-radius: 25px;
    font-size: 15px;
    text-transform: uppercase;
    border: 1px solid #75b00f;
    transition: .1s;

}
.register-home-btn {
    position: relative;
    display: inline-block;
    /* padding: 25px 30px; */
    /* margin: 40px 0; */
    /* color: #03e9f4; */
border-radius: 0px!important;
background: transparent!important;
border: none!important;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 2px;
    overflow: hidden;
  }
  .register-home-btn:hover {
    background: #03e9f4;
    color: #fff;
    box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
      0 0 200px #03e9f4;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
  }
  /* .register-home-btn:nth-child(1) {
    filter: hue-rotate(270deg);
  } */
  .register-home-btn:nth-child(2) {
    filter: hue-rotate(110deg);
  }
  .register-home-btn span {
    position: absolute;
    display: block;
  }
  .register-home-btn span:nth-child(1) {
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #75b00f);
    animation: animate1 1s linear infinite;
  }
  @keyframes animate1 {
    0% {
      left: -100%;
    }
    50%,
    100% {
      left: 100%;
    }
  }
  .register-home-btn span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #75b00f);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
  }
  @keyframes animate2 {
    0% {
      top: -100%;
    }
    50%,
    100% {
      top: 100%;
    }
  }
  .register-home-btn span:nth-child(3) {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #75b00f);
    animation: animate3 1s linear infinite;
    animation-delay: 0.5s;
  }
  @keyframes animate3 {
    0% {
      right: -100%;
    }
    50%,
    100% {
      right: 100%;
    }
  }
  .register-home-btn span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #75b00f);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
  }
  @keyframes animate4 {
    0% {
      bottom: -100%;
    }
    50%,
    100% {
      bottom: 100%;
    }
  }
  
.relation-delete-box
{
    font-size: 22px;
    margin-top: 30px;
    cursor: pointer;
}
.add-and-remove{
    margin-top: 29px!important;
    width: 200px;
}
.add-co-author-button{
    padding: 23px 13px;
}
.add-button{
    padding: 8px 30px!important;
    font-size: 12px!important;
    border-radius: 0px!important;
}
.text-area-abtract{
    min-height: 150px!important;
}
.add-button-div{
    margin-top: 29px!important;
}
.add-and-remove-button{
    padding: 8px 17px!important;
    border-radius: 0px!important;
    font-size: 12px!important;
    margin-top: 9px;
}
.create-btn
{
    padding: 4px 20px !important;
    font-size: 14px;
}
.common-btn:hover{
    background: #111b69;
    border: 1px solid #111b69;
   
}
.common-btn-transparent
{
  background-color: transparent;
  border:1px solid #fff;
}
.common-btn-transparent:hover{
    background:#f47216;
    border: 1px solid #f47216;
}
.common-form-heading
{
    font-family: 'Poppins', sans-serif;
    font-weight:600;
    font-size: 20px;
    text-transform:uppercase;
    color:#212529;
} 
.form-submit
{
    background: #75b00f;
    padding: 6px 45px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    border-radius: 25px;
    border: 0;
}
.form-submit:hover{
    background: #111b69;
}
.text-justify
{
    text-align: justify;
}
button .btn{
    background: #75b00f;
}
.header-scrolled
{
left: 0;
margin: auto;
position: fixed;
top: 0;
width: 100%;
background: #0d4469;
box-shadow: 0 10px 15px rgb(25 25 25 / 10%);
padding-bottom: 5px;
z-index: 10;
}

.header-wrapper .nav-link {
    color: #ffffff!important;
}

.header-wrapper.header-scrolled .nav-link
{
    color: #000!important;
}
.header-wrapper.header-scrolled .logo-text
{
    color:#cfb211f7;
}

.h5x {
    font-size: 24px!important;
}

.h4x {
    font-size: 26px;
}

.h3x {
    font-size: 28px;
}

.h2x {
    font-size: 30px;
}

.h1x {
    font-size: 32px !important;
}


.h1 {
    font-size: 22px!important;
}

.h2 {
    font-size: 20px!important;
}

.h3 {
    font-size: 19px;
}

.h4 {
    font-size: 18px!important;
}

.h5 {
    font-size: 17px;
}

.h6 {
    font-size: 16px;
}

.h7 {
    font-size: 15px!important;
}

.h8 {
    font-size: 14px;
}

.h9 {
    font-size: 13px;
}
input,textarea
{
    width:100%;
}
textarea
{
    resize:none;
}
:focus-visible 
{
    outline: none;
}
.form-control:focus,.form-select:focus
{
    box-shadow:none!important;
}
::placeholder{
    font-size: 14px;
    color: #afbdcf;
}
.with-carousel{
    display:none;
}
.without-carousel{
    display:block;
}
.asterisk::after
{
  color: red;
  content: '*';
}
.asterisk-exhibitor::before
{
  color: red;
  content: '* Exhibitor Fee';
  font-size: 12px;
}



/*-------------------------header ----------------*/
header
{
    position: absolute;
    width: 100%;
    left: 0;
  
     z-index: 5;

}    
header .logo-text
{
   font-size: 20px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    margin-left: 5px;
}   
header .nav-link
{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: .5px;
    transition: .2s;
} 
header .nav-link:hover   
{
    color:#eac600f7;

}  
header .nav-link.active
{
    color:#fff;
    border-bottom:3px solid #fff;
    opacity:1;
}                                                                                                                                                                          
.header-wrapper .navbar
{
    /*background-color: #fff;*/
    transition: all .2s linear;
}
.header-scrolled
{
left: 0;
margin: auto;
position: fixed;
top: 0;
width: 100%;
/* background:rgba(0,0,0,0.85); */
box-shadow: 0 10px 15px rgb(25 25 25 / 10%);
padding-bottom: 5px;
z-index: 10;
background-color:#fff;
}
.scrolled-link
{
    color:#1c1e6bf7!important;
}

.header-wrapper .navbar-brand
{
    font-size: 26px;
    font-weight: 600;
    color: #212121;
}
.header-wrapper .navbar-brand
{
    width: 60px;
}
.header-wrapper .nav-display .navbar-brand img
{
    width: 60px; 
}
.header-wrapper .nav-display-1 .navbar-brand img
{
    max-width: 130px;
    padding-right: 20px;
}
.header-wrapper .nav-item
{
    padding: 0 8px;
}

.navbar-toggler {
    background-color: #75b00f!important;
    padding: 3px 10px!important;
    
}
.navbar-toggler-icon
{
    background-image: none!important;
    display: flex!important;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.navbar-toggler:focus
{
    box-shadow: none!important;
}

.phone-input-box input{
    width: 100% !important;
}
  /* -----common responsive css---- */
  @media only screen and (max-width : 1024px) {
    .common-para
    {
        font-family: 'Mulish', sans-serif;
        font-weight: 400;
        line-height: 20.11px; 
        color: #696A87;
        font-size: 9px;
        line-height: 15px;
    }
}

@media only screen and (max-width :991px) {
    header .nav-link
    {
        font-size: 13px;
        padding: 5px 0;
    }
    
    .header-wrapper .navbar .nav-display 
    {
        display: none;
    }
    .header-wrapper .navbar .nav-display-1
    {
        display: none;
    }

    .navbar-nav{

        background: #212121;
<<<<<<< HEAD
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    position: absolute;
    right: -63px;
    height: 26vh;
    border-radius: 0;
    margin-top: 12px;
    width: 16vw;
    border-radius: 19px;
}
=======
        padding: 20px!important;
        margin-top: 10px;
    }
    .header-wrapper.header-scrolled .nav-link
    {
        color: #fff!important;
    }
>>>>>>> 7cc31cea4e58e6dd1357dd45dae6e325e91b67f2

}

@media only screen and (max-width : 767px) {
    
}
@media only screen and (max-width : 575px) {
    .common-heading
    {
        font-size:24px;
        font-weight:600;
    }
    .common-pre-heading
    {
        font-size:11px;
    }

    .boxes .box-1 .right-text {
        font-size: 11px!important;
        font-weight: bolder!important;
    }

    .common-para
    {
        font-size:12px;
    }
    .common-redirect-banner{
        padding:100px 0!important;
    }
    .common-redirect-banner .common-redirect-banner-title{
        font-size: 35px!Important;
    }
    .navbar-brand img
    {
        width:55px;
    }
    .navbar-toggler
    {
        
    background-color: #75b00f!important;
    padding: 3px 10px!important;
    }
    .navbar-toggler:focus
    {
        box-shadow:none;
    }
    .navbar-toggler-icon
    {
        display:flex!important;
        align-items:center;
        justify-content: center;
        color:#fff;
    }
<<<<<<< HEAD
    .navbar-nav
    {
        background:#212121;
        border-radius: 5px;
        padding:10px;
       
        display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    position: absolute;
    right: -11px;
    height: 35vh;
    border-radius: 30px;
    margin-top: 0px;
    width: 34vw;
    }
=======
   
    
>>>>>>> 7cc31cea4e58e6dd1357dd45dae6e325e91b67f2
    .navbar-nav .nav-item
    {
        padding: 0 25px;
    }
    header .nav-link
    {
        font-weight:600;
        font-size: 14px;
    }
    
    .common-btn, .common-btn-transparent
    {
        padding:6px 30px;
        font-size: 12px;
    }
    .navbar-toggler:focus
    {
        box-shadow: none!important;
    }
    .with-carousel{
        display:block;
    }
    .without-carousel{
        display:none;
    }
    .add-and-remove-button {
        padding: 8px 14px!important;
        border-radius: 0px!important;
        font-size: 12px!important;
        margin-top: 9px;
    }
    /* ------carousel btn style----------- */
    .react-multiple-carousel__arrow{
        min-width:30px!important;
        min-height:30px!important;
        background-color: #75b00f!important;
        z-index: 2!important;
    }
    .react-multiple-carousel__arrow::before{
        font-size:12px!important;
        font-weight:bold;
    }


    /* ------carousel btn style------------ */


}

    


@media only screen and (max-width : 480px) {
   


}
@media only screen and (max-width : 430px){
    .navbar-brand img{
        width:40px;
    }
    .common-heading{
        font-size: 18px;
    }
    
}

@media only screen and (max-width : 320px) {
    .common-heading{
        font-size: 20px;
    }
    .navbar-toggler{
        padding: 0px 5px!important;
    }
    .navbar-brand img{
        width:35px;
    }
    header .logo-text
    {
        font-size: 18px;
    }
    .common-btn, .common-btn-transparent {
        padding: 4px 18px;
        font-size: 12px;
    }
}
