@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');
body
{
    font-family: 'Mulish', sans-serif;
    font-weight:400;
    font-size:16px;
}
a
{
    text-decoration:none;
}
.f1
{
    font-family: 'Poppins', sans-serif;
}
.f2
{
    font-family: 'Mulish', sans-serif;
}

h1,h2,h3,h4,h5,h6
{
    font-family: 'Poppins', sans-serif;
}
.section-padding
{
    padding:60px 0;
}
.common-blue-color
{
 color: #111b69;
}
.common-blue-bg
{
    background:#111b69;
}
.common-yellow-color
{
    color:#eac600f7;
}
.common-yellow-bg
{
    background:#eac600f7;
}
.common-heading
{
    font-size: 60px;
    line-height: 68px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}
.common-para
{
    font-family: 'Mulish', sans-serif;
    font-weight: 300;
    line-height: 20.11px;
    color: #696A87;
    font-size: 16px;
    line-height: 20px;
}
.common-btn,.common-btn-transparent
{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    padding: 10px 30px;
    color: #fff;
    background: #eac600f7;
    text-decoration: none;
    border-radius: 25px;
    font-size: 15px;
    text-transform: uppercase;
    border: 1px solid #eac600f7;
    transition: .1s;

}
.common-btn:hover{
    background:#cfb211f7;
    border: 1px solid #cfb211f7;
   
}
.common-btn-transparent
{
  background-color: transparent;
  border:1px solid #fff;
}
.common-btn-transparent:hover{
    background:#cfb211f7;
    border: 1px solid #cfb211f7;
}
.header-scrolled
{
left: 0;
margin: auto;
position: fixed;
top: 0;
width: 100%;
background: #0d4469;
box-shadow: 0 10px 15px rgb(25 25 25 / 10%);
padding-bottom: 5px;
z-index: 10;
}





/*-------------------------header ----------------*/
header
{
    position: absolute;
    width: 100%;
    left: 0;
  
     z-index: 5;

}    
header .logo-text
{
   font-size: 20px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    margin-left: 5px;
}   
header .nav-link
{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: .5px;
}      
header .nav-link.active
{
    color:#fff;
    border-bottom:3px solid #fff;
    opacity:1;
}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     
.header-wrapper .navbar
{
    /*background-color: #fff;*/
    transition: all .2s linear;
}
.header-scrolled
{
left: 0;
margin: auto;
position: fixed;
top: 0;
width: 100%;
background: #0d4469;
box-shadow: 0 10px 15px rgb(25 25 25 / 10%);
padding-bottom: 5px;
z-index: 10;
}

.header-wrapper .navbar-brand
{
    font-size: 26px;
    font-weight: 600;
    color: #212121;
}
.header-wrapper .navbar-brand
{
    width: 180px;
}
.header-wrapper .nav-item
{
    padding: 0 20px;
}


/*------------------footer---------------*/
.footer-main
{
    background-color: #03030f;
  
    padding: 50px 0;
}
.footer-main .bord
{
    border-bottom: 2px solid #464646;
    padding: 80px 150px;
}
.footer-main .foot-left
{
    display: flex;
    justify-content: end;
}
.footer-main .foot-left ul li
{
    list-style: none;
    color: #fff;
}
.footer-main .foot-right
{
    margin-right: 50px;
}
.footer-main .foot-right ul li
{
    list-style: none;
    color: #fff;
}
.footer-main .row .moved-1
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-main .row .moved-1 img
{
    padding: 0 20px;
}
.footer-main .row .moved-1 h3
{
    font-size: 20px;
}
.footer-main .row .moved-2
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
}
.footer-main .row .moved-2 h6
{
    color: #fff;
    font-weight: bold;
}
.footer-main .row .moved-2 p
{
    color: #8c8b8b;
}
.footer-main .row .moved-2 .icons
{
    padding: 10px 0;
}
.footer-main .row .moved-2 .icons a
{
    color: #fff;
}
.footer-main .row .moved-2 .icons i
{
    font-size: 22px;
    padding: 6px;
}
/* -----------------------banner------------------- */


