.home-banner
{
    position: relative;
    background: linear-gradient(to left, #000000fa, #000000d1, #00000000);   
     padding: 120px 0;
     display: flex;
     /* border-bottom-left-radius: 250px;
     border-bottom-right-radius: 120px; */
    
    
}
.home-banner::before{
    position:absolute;
    top:0;
    display: block;
    background: url(../images/slider.jpg);
     background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    right:0;
    height: 100%;
    content: '';
    width: 100%;
    z-index: -1;
    /* border-bottom-left-radius: 250px;
    border-bottom-right-radius: 120px; */
}
.home-banner .right .banner-title
{
   font-size: 70px;
   font-weight:700;
   margin-bottom:0;
   text-transform:uppercase;
   line-height: 62px; 
}
.home-banner .right .banner-title .banner-small
{
    font-size:40px;
}
.home-banner .banner-bottom
{
    width: 140px;
    height: 4px;
    background-color: #fff;
    margin: 5px auto;
    border-radius: 5px;
}
.home-banner .banner-last
{
    font-size:55px;
    display:inline-block;
    margin-bottom:10px;
}
.home-banner .count
{
    position: absolute;
    right: 0;
    display: flex;
    right: 100px;
    bottom: -70px;
    box-shadow: 0px 15px 15px -10px rgb(0 0 0 / 15%);
    /* padding: 30px 20px 30px 20px; */
    background-color: #fff;
    border-radius: 20px;
    padding: 5px;

}
.home-banner .count .common-timer-box
{
    font-size: 60px;
    font-weight: 700;
}
.home-banner .count .counter-wrapper
{
    padding: 10px 30px;
    text-align: center;
    line-height: 1;
}
.home-banner .count .timer-detail
{
    font-weight: 600;
    font-size:15px;
    color: #696A87;
    font-family: 'Mulish', sans-serif;

}