.users-lists table th , td
{
    border-bottom: 1px solid gray;
    text-align: center;
}

.users-lists table tbody .icons
{
    margin: 0 5px 0 5px;
}
.moving-box button
{
    border: 2px solid #6366f1;
    padding: 10px 15px;
    border-radius: 10px;
    color: #6366f1;
}
.moving-box
{
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}
/* All Registration Action Button */
.action-btn {
    background: #152036;
    color: #fff;
    border: 0;
    padding: 5px 10px;
}