/* login css */

a
{
    text-decoration: none;
}
.register-form a:hover {
    color: #111b69;
}
.login-form
{
    height:100%;
    display:flex;
    align-items: center;
}
.actual-form
{
    border: 2px solid #262626;
    padding: 30px 40px;
    border-radius: 6px;
    margin-bottom: 50px;
    display: block;
}
.form-wrapper
{
    display: flex;
    justify-content: center;
}
.lgn
{
    text-align: center;
    padding: 30px 40px;
}
.lgn h4
{
    font-size: 40px;
}
.login-form .form-wrap 
{
    position:relative;
}
.login-form .actual-form input
{
    border: 2px solid #afbdcf;
    border-radius: 5px;
    height: 47px;
    width: 100%;
    color: #262626;
    font-size: 14px;
    padding-left: 20px;
    box-shadow: none;  
}
input:focus ~ label, input:valid ~ label
{
    font-size: 12px;
    color: #afbdcf;
    top: -5px;
    left: 10px;
    background: #ffffff;
    padding: 0px 5px 0px 5px;
}
.input-wrap 
{
    width:auto; 
    height:auto; 
    position:relative;
}
.input-wrap label 
{
    font-family:arial;
    font-size:16px;
    color: #afbdcf;
    padding: 14px;
    position: absolute;
    top: 0;
    left: 0;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
    pointer-events: none;
  
}

input[type="text"]:focus 
{
    outline:none;
}

.form-wrap
{
    padding: 10px 20px;
}

.frgt-pw
{
    text-align: end;
    padding: 10px;
}

.btn-wrapper
{
    padding: 10px;
    text-align: center;
}

.btn-wrapper .btn
{
    padding: 15px 100px;
}

.end-wrap
{
    text-align: center;
}


/* register css */

.register-form
{
    background-image: url('../images/event-1.jpg.JPEG');
    background-size: cover;
    background-position: center;
    color: #fff;
    position: relative;
    padding: 120px 0 40px 0;
    height: calc( 100vh - 0px);
}
.register-form::before{
    display: block;
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(0,0,0,0.75);
}
.actual-form-1
{
    position: relative;
    background: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 0 10px 34px -15px rgb(0 0 0 / 24%);
    -moz-box-shadow: 0 10px 34px -15px rgba(0,0,0,.24);
    box-shadow: 0 10px 34px -15px rgb(0 0 0 / 24%);
    width: 85%;
    margin: auto;
    padding: 40px 30px;
}
.form-wrapper-1
{
    display: flex;
    justify-content: center;
}
.rgstr
{
    text-align: center;
   
}
.rgstr h4
{
    font-size: 40px;
}
.register-form .form-wrap
{
    position: relative;
}
.register-form .actual-form-1 input
{
    border: 1px solid #dedede;
    border-radius: 5px;
    height: 43px;
    color: #262626;
    font-size: 14px;
    padding-left: 20px;
    box-shadow: none;  
}
input:focus ~ label, input:valid ~ label
{
    font-size: 12px;
    color: #afbdcf;
    top: -5px;
    left: 10px;
    background: #ffffff;
    padding: 0px 5px 0px 5px;
}
.input-wrap 
{
    width:auto; 
    height:auto; 
    position:relative;
}
.input-wrap label 
{
    font-family:arial;
    font-size:14px;
    color: #afbdcf;
    padding: 14px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
    pointer-events: none;
  
}  
input[type="text"]:focus 
{
    outline:none;
}
.form-wrap
{
    padding: 10px 20px;
}
.btn-wrapper
{
    padding: 10px;
    text-align: center;
}
.btn-wrapper .btn
{
    padding: 15px 100px;
}
.end-wrap
{
    text-align: center;
}
/* -----------forget page css----- */
.forget-back
{
    font-size: 12px;
    color:#111b69;
    text-transform:uppercase;
    font-weight:400;
} 


/* -----common responsive css---- */
@media only screen and (max-width : 1024px) {

}

@media only screen and (max-width :991px) {
    
}

@media only screen and (max-width : 767px) {
    
}
@media only screen and (max-width : 575px) {
   
    .actual-form-1
    {
     padding: 20px;
    }
    .form-wrap {
        padding: 10px 10px;
    }
    .register-form .actual-form-1 input{
       height: 40px;
    }
    .actual-form-1{
        width: 90%;
    }


}


@media only screen and (max-width : 480px) {
   
    .register-form .actual-form-1 input{
        height: 38px;
     }
     .actual-form-1{
         width: 100%;
     }
     .common-form-heading{
         font-size:18px;
     }

}
@media only screen and (max-width : 430px){
    .actual-form-1{
        padding: 10px;
    }
    .form-submit {
        padding: 3px 30px;
        font-size: 13px;
    }
    
}

@media only screen and (max-width : 320px) {
    .common-form-heading{
        font-size: 15px;
    }
}

