.sponsor-form.register-form
{
    background-image: url('../images/event-1.jpg.JPEG');
    background-size: cover;
    background-position: center;
    /* color: #fff; */
    position: relative;
    padding: 120px 0 40px 0;
    height:auto;
}
.sponsor-form::before{
    display: block;
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(0,0,0,0.75);
}

.submit-form
{
    padding-top: 100px;
}

.actual-form-1
{
    position: relative;
    background: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 0 10px 34px -15px rgb(0 0 0 / 24%);
    -moz-box-shadow: 0 10px 34px -15px rgba(0,0,0,.24);
    box-shadow: 0 10px 34px -15px rgb(0 0 0 / 24%);
    width: 85%;
    margin: auto;
    padding: 40px 30px;
}
.form-wrapper-1
{
    display: flex;
    justify-content: center;
}
.rgstr
{
    text-align: center;
   
}
.rgstr h4
{
    font-size: 40px;
}
.sponsor-form .form-wrap
{
    position: relative;
}
.sponsor-form .actual-form-1 input
{
    border: 1px solid #dedede;
    border-radius: 5px;
    height: 43px;
    color: #262626;
    font-size: 14px;
    padding-left: 20px;
    box-shadow: none;  
    margin-top: 6px;
}
.common{
    border: none;
    background: transparent;
    font-size: 22px;
    padding-left: 30px;
    margin-top: 4px;
}
.captcha-section{
    border: 1px solid #bebbbb;
    padding: 4px;
    border-radius: 10px;
    height: 45px;
    margin-top: 4px;
}
.captcha-align{
    /* margin-bottom: 11px;
    padding-top: 20px; */
    margin: 5px 0 5px 0;
    display: flex;
    align-items: center;
}
.captcha-form{
    display: flex;
    margin-bottom: 16px;
}
.captcha-box{
    display: flex;
    align-items: center;
}
/* .pt-3{
    margin-top: 9px;
} */
input:focus ~ label, input:valid ~ label
{
    font-size: 12px;
    color: #afbdcf;
    top: -5px;
    left: 10px;
    background: #ffffff;
    padding: 0px 5px 0px 5px;
}
.input-wrap 
{
    width:auto; 
    height:auto; 
    position:relative;
}
.input-wrap label 
{
    font-family:arial;
    font-size:14px;
    color: #afbdcf;
    padding: 14px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
    pointer-events: none;
  
}  
.contact-text{
    width: 374px;
    margin-left: 14px;
}
input[type="text"]:focus 
{
    outline:none;
}
.form-wrap
{
    padding: 10px 20px;
}
.btn-wrapper
{
    padding: 10px;
    text-align: center;
}
.btn-wrapper .btn
{
    padding: 15px 100px;
}

.sponsor-form.register-form .country-flag-input input
{
    padding-left: 45px;
    width: 100%;
}

@media only screen and (max-width : 767px){
    .actual-form-1 {
        position: relative;
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 10px 34px -15px rgb(0 0 0 / 24%);
        width: 85%;
        margin: auto;
        padding: 30px 5px;
    }

    .common {
        border: none;
        background: transparent;
        font-size: 22px;
        padding-left: 27px;
        margin-top: 4px;
        margin-right: 8px;
    }
   
}