.theme-section {
  padding: 60px 0;
  background: #84bce3ad;
}
.theme-section .cards
{
  background-color: #0f5ba1;;
  padding: 16px;
  border-radius: 25px;
  text-align: left;
  min-height: 196px;
  margin-bottom: 20px;
  display: block;
  position: relative;
  border-radius: 4px;
  z-index: 0;
  overflow: hidden;
  text-decoration: none !important;
}
.theme-section .main-theme-box u, .theme-section .sub-theme-box u
{
  font-size: 22px;
  text-transform: uppercase;
}
.theme-section .paragraph-box .common-para
{
  font-size: 33px;
  color: #75b00f;
  text-transform: uppercase;
  line-height: 46px;
  font-weight: bold;
  
}
.theme-section .cards .box-1 p {
  color: #fff;
  line-height: 23px;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 0;
  text-align: start;
  text-transform: uppercase;
  font-weight: 500;
}
.theme-section .cards:hover::before
{
  transform: scale(45);
}
.theme-section .cards:hover p
{
  color: #fff;
}
.theme-section .cards::before
{
  content: "";
  position: absolute;
  z-index: -1;
  top: -11px;
  right: -12px;
  background: #75b00f;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.75s linear;
}




/* media querry */

@media only screen and (max-width : 1399px){

}
@media only screen and (max-width : 1199px)
{

  .theme-section .paragraph-box .common-para {
    font-size: 35px;
    color: #0096ff;
}
.theme-section .main-theme-box u{
  font-size: 21px;
}
.theme-section .cards {
  min-height: 238px;
}
}

@media only screen and (max-width : 1024px) {

  .theme-section .paragraph-box .common-para {
    font-size: 26px;
    color: #0096ff;
}

}

@media only screen and (max-width :991px) {

  .theme-section .main-theme-box u, .theme-section .sub-theme-box u {
    font-size: 15px;
  }
  .theme-section .cards {
    padding: 10px;
  }
  .theme-section .cards {
    min-height: 226px;
}

}

@media only screen and (max-width : 767px) {
 
  .theme-section .paragraph-box .common-para {
    font-size: 23px;
    color: #0096ff;
}
.theme-section .cards {
  min-height: 107px;
  padding: 11px;
}
}

@media only screen and (max-width : 575px) {
  .theme-section .cards {
    padding: 12px;
  }


}


@media only screen and (max-width : 480px) {
  .theme-section .paragraph-box .common-para {
    font-size: 20px;
    line-height: 22px;
}


}

@media only screen and (max-width : 430px)
{

}

@media only screen and (max-width : 320px) {
  .theme-section .paragraph-box .common-para {
    font-size: 20px;
    line-height: 23px;
}

  
}